* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 4rem;
    background: #0b1c31;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #fdfcfc;
}

.subTitulo {
    font-size: 36px;
    margin: 10px;
    color: #0b1c31;
}

#selectWord {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#selectWord h2,
#selectWord input {
    margin: 10px;
}


#textInput,
#wordInput {
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px;
    width: 16rem;
}

#textInput:focus,
#wordInput:focus {
    border: 2px solid black;
}

.boton {
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 3px 8px;
    background: #0b1c31;
    color: #fdfcfc;
}

#hangingBoard {
    display: none;
    justify-content: center;
    justify-items: center;
    height: 90vh
}

#hangingBoard .boton {
    width: 100px;
}

#guessingWords {
    width: 90vw;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 15px 0;
}

#guessingWords div {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
    border: 2px solid #0b1c31;
}

#btn {
    width: 400px;
}

#btn button{
    width: 30px;
    
    margin: 3px;
    padding: 5px;
}


@media (max-width: 400px) {
    .subTitulo {
        margin: 15px;
    }

    #guessingWords {
        flex-wrap: wrap;
    }

    #btn {
        width: 320px;
    }
}

@media (max-width: 380px) {
    h1 {
        font-size: 30px;
    }
}

@media (max-width:365px) {
    h1 {
        font-size: 28px;
    }
}

@media (max-width:325px) {
    h1 {
        font-size: 25px;
    }
}